@charset "utf-8";
ul,li{list-style: none;}
body{padding: 0;margin: 0;}
button{	border-style: none;}
/* 首页 */
.homeConeten{
	width:100%;
	height: 100%;
	overflow: hidden;
	background-color: #fe5050;

	.mint-swipe{
		width: 100%;
		height: 238px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.twoButton{
		width: calc(100% - 26px);
		height: 30px;
		margin-top: 200px;
		position: absolute;
		margin-left:13px;

		a{
			width: calc(50% - 2px);
			color: #fff;
			float: left;
			height: 35px;
			border-radius: 3px;
			text-align: center;
			line-height: 35px;
			box-shadow: 2px 2px 3px 0 rgba(240, 240, 240, 0.2);
		}
		a:first-child{
			background-color: #a046ff;
			margin-right: 2px;
		}
		a:last-child{
			background-color: #ffb43c;
			margin-left: 2px;
		}
	}
	.goodsList{
		li{
			width: calc(50% - 2.5px);
			float: left;
			overflow: hidden;
			height: auto;
			background:#fff;
			margin-top: 5px;

			img{
				width: 100%;
				height: 150px;
			}
			.bottom{
				p{
					float: left;
					max-width: calc(100% - 55px);
					color: #fe5050;
				}
				button{
					width: 50px;
					height: 20px;
					float: right;
					margin-right: 5px;
					border-radius: 25px;
					color:#fff;
					font-size: 10px;
					line-height: 20px;
					box-shadow: 2px 2px 5px #ccc;
				}
				.exchangeButton{
					background-color: #fe5050;
				}
				.noExchangeButton{
					background: #c9c9c9;
				}
			}
		}
		li:nth-child(even){
			margin-left: 2.5px;
		}
		li:nth-child(odd){
			margin-right: 2.5px;
		}
		.content{
			background: #fff;
			font-size: 13px;
			text-indent: 10px;
			line-height: 25px;
			width: 100%;
			height: auto;
			overflow: hidden;
			padding: 5px 0px;

			p:nth-child(1){
				width: 100%;
				text-overflow: ellipsis;
				white-space:nowrap; 
				overflow: hidden;

			}
		}
	}
	.fixedCircle{
		width: 50px;
		height: 50px;
		border-radius: 25px;
		background: #318aff;
		position: fixed;
		z-index: 100;
		float: right;
		right:8px;
		margin-top: 120px;
		color: #fff;
		font-size: 14px;
		padding: 5px;
	}
}
/*商品详情页*/
.prizeInfoContent{
	background-color: #f2f2f2;

	header{
		img{
			width: 100%;
		}
	}
	.goodsInfo{
		background-color: #fff;
		line-height: 25px;
		width:100%;
		height: auto;
		padding:10px;
		overflow: hidden;

		p{
			font-size: 15px;
			color: #222;

			span{
				float: left;
				font-size: 12px;
				color: #999;
			}
			span:first-child{
				color: #fe5050;
				font-size: 15px;
			}
			span:nth-child(2){
				margin-left: 15px;
				text-decoration: line-through;
			}
			span:last-child{
				float: right;
			}
		}
	}
	article{
		background-color: #fff;
		margin-top: 15px;
		font-size: 13px;
		color: #222;
		line-height: 25px;
		text-indent: 15px;
		text-align: justify;
		margin-bottom: 70px;

		img{
			width: 100%;
		}
	}
	.bottomArea{
		width: 100%;
		padding:0px 10px 0px 15px;
		height:70px;
		position: fixed;
		bottom:0px;
		background-color: #fff;
		z-index: 100;
		font-size: 11px;
		color: #222;

		p{
			margin-top: 5px;

			span:last-child{
				float: right;
				margin-right: 15px;
			}
		}
		button{
			float: right;
			margin-right:10px;
			width: 140px;
			height: 40px;
			color: #fff;
			background: #fe5050;
			border-radius: 5px;
			margin-top: 5px;
		}
		.btn-numbox {
		    overflow: hidden;
		    background:#fff; 
		    margin-top: 10px;
		    float: left;
		    .count{
				border-radius: 3px;
				overflow: hidden;
				.input-num {
				    height: 30px;
				    width: 30px;
				    color: #333;
				    border-left: 0;
				    border-right: 0;
				    display: inline-block;
				    height:30px;
				    line-height: 30px;
				    text-align: center;
				    font-size: 15px;
				     border-top: 1px solid #e6e6e6;
				     border-bottom: 1px solid #e6e6e6;
				}
				.num-add,
				.num-minus{
				    display: inline-block;
				    width: 30px;
				    height:30px;
				    line-height: 30px;
				    text-align: center;
				    font-size: 15px;
				    color: #999;
				    cursor: pointer;
				    border: 1px solid #e6e6e6;
				}
			}
			li {
			    float: left;
			}
			 .number,.kucun {
			    display: inline-block;
			    font-size: 14px;
			    color: #666666;
			    vertical-align: sub;
			}
		}
	}
			
}

/*奖品兑换页*/
.exchangeContent{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background: #fe5050;

	.inputInfo{
		width: calc(100% - 30px);
		height: 320px;
		background: #fff;
		margin: 15px;
		border-radius: 5px;
		.normalInput{
			width: 100%;
			height: 50px;
			display: block;
			border-bottom:1px solid #ededed;
			font-size: 15px;
			p{
				width: 60px;
				float: left;
				color: #222;
				line-height: 50px;
				text-align: center;	
			}
			input{
				width: calc(100% - 60px);
				height: 45px;
				border:none;
			}
			input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
			  /* WebKit browsers */
			  color: #ccc;
			}
			input:-moz-placeholder {
			  /* Mozilla Firefox 4 to 18 */
			  color: #ccc;
			}
			input::-moz-placeholder {
			  /* Mozilla Firefox 19+ */
			  color: #ccc;
			}
			input::-ms-input-placeholder {
			  /* Internet Explorer 10+ */
			  color: #ccc;
			}
		}
		.remakes{
			height: 80px;
			textarea{
				border:none;
				height: 60px;
				margin-top: 15px;
				width: calc(100% - 60px);
			}
		}
		.goodsInfo{
			width: 100%;
			height: 90px;
			border-bottom:1px solid #ededed;

			img{
				width: 60px;
				height: 60px;
				margin: 15px;
				float: left;
			}
			div{
				width: calc(100% - 90px);
				height: 60px;
				margin: 15px 0px;
				float: left;

				 p:first-child{
					font-size: 15px;
					color: #222;
					white-space:nowrap; 
					text-overflow: ellipsis;
					overflow: hidden;
				}
				p:last-child {
					margin-top: 20px;

					span:first-child{
						font-size: 13px;
						color: #999;
					}
					span:last-child{
						font-size: 15px;
						color: #fe5050;
						float: right;
						margin-right:10px;
					}
				}
			}
		}
		.delivery{
			font-size: 15px;
			color: #222;
			padding: 0 15px;
			line-height: 50px;
			span:last-child{
				float: right;
			}
		}
	}
	.onsure{
		width: calc(100% - 30px);
		height: 80px;
		margin: 0 15px;
		float: bottom;
		bottom: 0px;
		position: absolute;
		color: #fff;
		font-size: 13px;
		p{
			padding-bottom: 8px;
		}
		button{
			width: 100%;
			height: 50px;
			background: #ffb43c;
			border-radius: 5px;
			font-size: 15px;
			color: #fff;
		}
	}
}
/* 兑换成功页面*/
.exchangeSuccessContent{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background: #fe5050;
	ul{
		width: calc(100% - 30px);
		height: 300px;
		background: #fff;
		margin: 15px;
		border-radius: 5px;
		position: absolute;
		li{
			width: 100%;
			height: auto;
			.residue{
				font-size: 13px !important;
				color: #999 !important;
				margin-top: 30px;
			}
			img{
				width: 60px;
				height: 60px;
				margin:40px auto 0;

			}
		}
		li:first-child p{
			font-size: 15px;
			color: #222;
			text-align: center;
			margin-top: 10px;
		}
		.twoButton{
			width: calc(100% - 20px);
			margin: 30px auto 20px;
			height: auto;
			overflow: hidden;
			button{
				width: calc(50% - 8px);
				float: left;
				height: 44px;
				border-radius: 5px;
				font-size: 15px;
			}
			button:first-child{
				background: #fff;
				border:1px solid #e6e6e6;
				margin-right: 7px;
			}
			button:last-child{
				background: #fe5050;
				margin-left: 8px;
				color: #fff;
			}
		}
		.share{
			width: 120px;
			height: 36px;
			background: #ffb43c;
			margin:20px auto;
			border-radius: 15px;
			display: block;
			font-size: 15px;
			color: #fff;
		}
	}
	.mint-popup{
		width: 100%;
		height: 100%;
		background: none;
	}
	.arrows{
		width: 16%;
		height: 14%;
		float: right;
		margin-top: 6%;
		margin-right: 20px;
	}
	.shareToFriend{
		div{
			width: 100%;
			height: auto;
			overflow: hidden;

		}
		div:nth-child(1) img{
			float: right;
			width: 16%;
			margin:30% 10% 0 0;
			float: right;
		}
		div:nth-child(2) img{
			width: 60%;
			margin:0 20%;
			float: left;
		}
	}
}
