@charset "utf-8";

ul,li{list-style: none;}
body{padding: 0;margin: 0;}
button{	border-style: none;}
/**/
.homeConeten {
	width:100%;
	height: 100%;
	overflow: hidden;
	background-color: #fe5050;
}
.homeConeten .mint-swipe{
	width: 100%;
	height: 238px;
}
.homeConeten .mint-swipe img{
	width: 100%;
	height: 100%;
}
.homeConeten .twoButton{
	width: calc(100% - 26px);
	height: 30px;
	margin-top: 200px;
	position: absolute;
	margin-left:13px;
}
.homeConeten .twoButton a{
	width: calc(50% - 2px);
	color: #fff;
	float: left;
	height: 35px;
	border-radius: 3px;
	text-align: center;
	line-height: 35px;
	box-shadow: 2px 2px 3px 0 rgba(240, 240, 240, 0.2);
}
.homeConeten .twoButton a:first-child{
	background-color: #a046ff;
	margin-right: 2px;
}
.homeConeten .twoButton a:last-child{
	background-color: #ffb43c;
	margin-left: 2px;
}
.homeConeten .goodsList li{
	width: calc(50% - 2.5px);
	float: left;
	overflow: hidden;
	height: auto;
	background:#fff;
	margin-top: 5px;
}
.homeConeten .goodsList li img{
	width: 100%;
	height: 150px;
}
.homeConeten .goodsList li:nth-child(even){
	margin-left: 2.5px;
}
.homeConeten .goodsList li:nth-child(odd){
	margin-right: 2.5px;
}
.homeConeten .goodsList .content{
	background: #fff;
	font-size: 13px;
	text-indent: 10px;
	line-height: 25px;
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 5px 0px;
}
.homeConeten .goodsList .content p:nth-child(1){
	width: 100%;
	text-overflow: ellipsis;
	white-space:nowrap; 
	overflow: hidden;

}
.homeConeten .goodsList li .bottom p{
	float: left;
	max-width: calc(100% - 55px);
	color: #fe5050;
}
.homeConeten .goodsList li .bottom button{
	width: 50px;
	height: 20px;
	float: right;
	margin-right: 5px;
	border-radius: 25px;
	color:#fff;
	font-size: 10px;
	line-height: 20px;
	box-shadow: 2px 2px 5px #ccc;
}
.homeConeten .goodsList li .bottom .exchangeButton{
	background-color: #fe5050;
}
.homeConeten .goodsList li .bottom .noExchangeButton{
	background: #c9c9c9;
}
.homeConeten .fixedCircle{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #318aff;
	position: fixed;
	z-index: 100;
	float: right;
	right:8px;
	margin-top: 120px;
	color: #fff;
	font-size: 14px;
	padding: 5px;
}
/*商品详情页*/
.prizeInfoContent{
	background-color: #f2f2f2;
}
.prizeInfoContent header img{
	width: 100%;
}
.prizeInfoContent .goodsInfo{
	background-color: #fff;
	line-height: 25px;
	width:100%;
	height: auto;
	padding:10px;
	overflow: hidden;
}
.prizeInfoContent .goodsInfo p{
	font-size: 15px;
	color: #222;
}
.prizeInfoContent .goodsInfo p span{
	float: left;
	font-size: 12px;
	color: #999;
}
.prizeInfoContent .goodsInfo p span:first-child{
	color: #fe5050;
	font-size: 15px;
}
.prizeInfoContent .goodsInfo p span:nth-child(2){
	margin-left: 15px;
	text-decoration: line-through;
}
.prizeInfoContent .goodsInfo p span:last-child{
	float: right;
}
.prizeInfoContent article{
	background-color: #fff;
	margin-top: 15px;
	font-size: 13px;
	color: #222;
	line-height: 25px;
	text-indent: 15px;
	text-align: justify;
	margin-bottom: 70px;
}
.prizeInfoContent article img{
	width: 100%;
}
.prizeInfoContent .bottomArea{
	width: 100%;
	padding:0px 10px 0px 15px;
	height:70px;
	position: fixed;
	bottom:0px;
	background-color: #fff;
	z-index: 100;
	font-size: 11px;
	color: #222;
}
.prizeInfoContent .bottomArea p{
	margin-top: 5px;
}
.prizeInfoContent .bottomArea p span:last-child{
	float: right;
	margin-right: 15px;
}
/*商品加减*/
.btn-numbox {
    overflow: hidden;
    background:#fff; 
   margin-top: 10px;
    float: left;

}
.btn-numbox .count{
	border-radius: 3px;
}
.btn-numbox li {
    float: left;
}

.btn-numbox li .number,
.kucun {
    display: inline-block;
    font-size: 14px;
    color: #666666;
    vertical-align: sub;
}

.btn-numbox .count {
    overflow: hidden;
    
}

.btn-numbox .count .num-add,
.input-num,
.num-minus{
    display: inline-block;
    width: 30px;
    height:30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    color: #999;
    cursor: pointer;
    border: 1px solid #e6e6e6;
}
.btn-numbox .icon-minus{
	background:url(../images/add.png);
}
.btn-numbox .icon-minus-forbid{
	background:url(../images/add.png) 0 0 no-repeat #f5f3f3;
}
.btn-numbox .icon-add{
	background:url(../images/minus.png);
}
.btn-numbox .icon-add-forbid{
	background:url(../images/minus.png) 0 0 no-repeat #f5f3f3;
}
.btn-numbox .count .input-num {
    width: 50px;
    height: 30px;
    color: #333;
    border-left: 0;
    border-right: 0;
}
.prizeInfoContent .bottomArea button{
	float: right;
	margin-right:10px;
	width: 140px;
	height: 40px;
	color: #fff;
	background: #fe5050;
	border-radius: 5px;
	margin-top: 5px;
}

/*奖品兑换页*/
.exchangeContent{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background: #fe5050;
}
.exchangeContent .inputInfo{
	width: calc(100% - 30px);
	height: 320px;
	background: #fff;
	margin: 15px;
	border-radius: 5px;
}
.exchangeContent .inputInfo .normalInput{
	width: 100%;
	height: 50px;
	display: block;
	border-bottom:1px solid #ededed;
	font-size: 15px;
}
.exchangeContent .inputInfo .normalInput p{
	width: 60px;
	float: left;
	
	color: #222;
	line-height: 50px;
	text-align: center;	
}
.exchangeContent .inputInfo .normalInput input{
	width: calc(100% - 60px);
	height: 45px;
	border:none;
}

.exchangeContent .inputInfo .normalInput input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
  /* WebKit browsers */
  color: #ccc;
}
.exchangeContent .inputInfo .normalInput input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
.exchangeContent .inputInfo .normalInput input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}
.exchangeContent .inputInfo .normalInput input::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
.exchangeContent .inputInfo  .remakes{
	height: 80px;
}
.exchangeContent .inputInfo .remakes textarea{
	border:none;
	height: 60px;
	margin-top: 15px;
	width: calc(100% - 60px);
}
.exchangeContent .inputInfo .goodsInfo{
	width: 100%;
	height: 90px;
	border-bottom:1px solid #ededed;
}
.exchangeContent .inputInfo .goodsInfo img{
	width: 60px;
	height: 60px;
	margin: 15px;
	float: left;
}
.exchangeContent .inputInfo .goodsInfo div{
	width: calc(100% - 90px);
	height: 60px;
	margin: 15px 0px;
	float: left;
}
.exchangeContent .inputInfo .goodsInfo div p:first-child{
	font-size: 15px;
	color: #222;
	white-space:nowrap; 
	text-overflow: ellipsis;
	overflow: hidden;
}
.exchangeContent .inputInfo .goodsInfo div p:last-child {
	margin-top: 20px;
}
.exchangeContent .inputInfo .goodsInfo div p:last-child span:first-child{
	font-size: 13px;
	color: #999;
}
.exchangeContent .inputInfo .goodsInfo div p:last-child span:last-child{
	font-size: 15px;
	color: #fe5050;
	float: right;
	margin-right:10px;
}
.exchangeContent .inputInfo .delivery{
	font-size: 15px;
	color: #222;
	padding: 0 15px;
	line-height: 50px;
}
.exchangeContent .inputInfo .delivery span:last-child{
	float: right;
}
.exchangeContent .onsure{
	width: calc(100% - 30px);
	height: 80px;
	margin: 0 15px;
	float: bottom;
	bottom: 0px;
	position: absolute;
	color: #fff;
	font-size: 13px;
}
.exchangeContent .onsure p{
	padding-bottom: 8px;
}
.exchangeContent .onsure button{
	width: 100%;
	height: 50px;
	background: #ffb43c;
	border-radius: 5px;
	font-size: 15px;
	color: #fff;
}

/* 兑换成功页面*/
.exchangeSuccessContent{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background: #fe5050;
}
.exchangeSuccessContent ul{
	width: calc(100% - 30px);
	height: 300px;
	background: #fff;
	margin: 15px;
	border-radius: 5px;
	position: absolute;
}
.exchangeSuccessContent ul>li{
	width: 100%;
	height: auto;
}
.exchangeSuccessContent ul>li:first-child p{
	font-size: 15px;
	color: #222;
	text-align: center;
	margin-top: 10px;
}
.exchangeSuccessContent ul>li .residue{
	font-size: 13px !important;
	color: #999 !important;
	margin-top: 30px;
}
.exchangeSuccessContent ul>li img{
	width: 60px;
	height: 60px;
	margin:40px auto 0;

}
.exchangeSuccessContent ul .twoButton{
	width: calc(100% - 20px);
	margin: 30px auto 20px;
	height: auto;
	overflow: hidden;
}
.exchangeSuccessContent ul .twoButton button{
	width: calc(50% - 8px);
	float: left;
	height: 44px;
	border-radius: 5px;
	font-size: 15px;
}
.exchangeSuccessContent ul .twoButton button:first-child{
	background: #fff;
	border:1px solid #e6e6e6;
	margin-right: 7px;
}
.exchangeSuccessContent ul .twoButton button:last-child{
	background: #fe5050;
	margin-left: 8px;
	color: #fff;
}
.exchangeSuccessContent ul .share{
	width: 120px;
	height: 36px;
	background: #ffb43c;
	margin:20px auto;
	border-radius: 15px;
	display: block;
	font-size: 15px;
	color: #fff;
}
.exchangeSuccessContent .mint-popup{
	width: 100%;
	height: 100%;
	background: none;
}
.exchangeSuccessContent .arrows{
	width: 16%;
	height: 14%;
	float: right;
	margin-top: 6%;
	margin-right: 20px;
}
.exchangeSuccessContent .shareToFriend div{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.exchangeSuccessContent .shareToFriend div:nth-child(1) img{
	float: right;
	width: 16%;
	margin:30% 10% 0 0;
	float: right;
}
.exchangeSuccessContent .shareToFriend div:nth-child(2) img{
	width: 60%;
	margin:0 20%;
	float: left;
}